body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.whole-nav {
  background-color: rgb(2, 123, 97);
}

#main-link {
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link {
  color: var(--bs-white);
 
}

.nav-link:hover {
  color: var(--bs-teal);
  border-color: transparent;
}

.nav-link.btn.btn-light {
  background-color: transparent;
  border-color: transparent;
  text-align: left;
}

.chart-info a {
  color: var(--bs-teal);
  text-align: center;
}


.whole-nav {
  background-color: rgb(2, 123, 97);
}

#main-link {
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link {
  color: var(--bs-white);
 
}

.nav-link:hover {
  color: var(--bs-teal);
  border-color: transparent;
}

.nav-link.btn.btn-light {
  background-color: transparent;
  border-color: transparent;
  text-align: left;
}

.chart-info a {
  color: var(--bs-teal);
  text-align: center;
}




.row-2 {
  display: flex;
  flex: 1;
}

.row-2 .chart-info-container {
  flex-direction: row;
  width: 50%;
  overflow-x: hidden;
}


@media screen and (max-width: 600px) {
  .row-2 {
    display: flex;
    width: 100%;
  }

  .chart-info-container{
    display: inline-block;
    position: relative;
    width: 100%;
  }
}