body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.whole-nav {
  background-color: rgb(21, 112, 93);
}



.row-2 {
  display: flex;
  flex: 1;
}

.row-2 .chart-info-container {
  flex-direction: row;
  width: 50%;
  overflow-x: hidden;
}


@media screen and (max-width: 600px) {
  .row-2 {
    display: flex;
    width: 100%;
  }

  .chart-info-container{
    display: inline-block;
    position: relative;
    width: 100%;
  }
}